@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Cairo&family=Teko:wght@300;400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cairo&family=Righteous&family=Teko:wght@300;400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cairo&family=Merriweather+Sans:ital,wght@0,500;1,700&family=Righteous&family=Teko:wght@300;400&display=swap');

* {
    font-family: 'Arvo', serif;
    line-height: 30px;
}

p {
    font-size: 15px;
}

body {
    max-width: 100%;
}

header {
    /* background: linear-gradient(-90deg,#0e143b 0,#2b35a0 100%); */
    background-color: #0e143b;
    border-bottom: 1px solid rgba(24,47,60,.01);
    color: white;
    height: 100%;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

@media (max-width: 510px) {
    header {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #2b35a0;
}
::selection {
    background-color: #2b35a0;
    color: #fff
}
-webkit-::selection {
    background-color: #2b35a0;
    color: #fff
}
::-moz-selection {
    background-color: #2b35a0;
    color: #fff
}

.logo img {
    width: 100px;
}

.logo h2 {
    font-family: 'Bree Serif', serif;
}

.nav-text p a {
    font-size: 18px;
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color: white;
}

.nav-text p:hover {
    cursor: pointer;
}

.header-img img {
    width: 100%;
    object-fit: contain;
}

@media (max-width: 410px) {
    .header-img {
        margin-top: 30px;
    }

    nav .logo img {
        width: 60%;
    }

    nav .logo h2 {
        font-size: 22px;
    }
}

.header-main h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
    line-height: 50px;
}

@media (min-width: 410px) and (max-width: 768px) {
    .header-main {
        padding-top: 4rem !important;
    }

    .header-img {
        margin-top: 30px;
    }

    .header-img {
        text-align: center;
    }
    
    .header-img img {
        width: 400px;
    }
}

@media (min-width: 1250px) {
    nav, .header-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .header-main {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .header-img img {
        width: 80%;
    }
}

.header-btn p {
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    font-size: 20px;
}

.header-btn button {
    background-color: white;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all .2s ease;
}

.header-btn button .hover {
    display: none;
}

.header-btn button:hover {
    background-color: #0e143b;
    border: 2px solid #0e143b;
    transition: all .2s ease;
}

.header-btn button:hover .hover {
    display: block;
}

.header-btn button:hover .original {
    display: none;
}

.header-main {
    padding-bottom: 6rem !important;
}

.sidenav {
  height: 100%;
  width: 0;
  padding: unset;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #2b35a0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn {
    top: 30px !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.nav-text {
    display: none;
}

.open-nav, #sideNav {
    display: flex;
}

#sideNav {
    flex-direction: column;
    justify-content: start !important;
    align-items: center !important;
    padding-top: 100px;
}

#sideNav p {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.open-nav a {
    cursor: pointer;
}

@media (min-width: 850px) {
    .open-nav {
        display: none;
    }

    .nav-text {
        display: flex;
    }
}

.setup {
    /* background-color: #2b35a0; */
    /* background: linear-gradient(305deg, #2b35a0,#0e143b); */
    background: linear-gradient(90deg, #0e143b 66%, #2b35a0 33%);
    color: white;
    text-align: left;
}

.setup p {
    margin-bottom: unset;
    text-align: left;
}

@media (max-width: 768px) {
    .astep {
        padding-left: 4.5rem !important;
        padding-right: 4.5rem !important;
    }

    .setup {
        padding-left: unset !important;
        padding-right: unset !important;
        background: unset;
        background-color: #2b35a0;
    }

    .choose {
        padding-top: 4rem !important;
    }

    .upload {
        padding-bottom: 4rem !important;
    }

    /* .purchase {
        background-color: #0e143b;
    } */
}

@media (max-width: 450px) {
    .astep {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }

    .setup {
        padding-right: unset;
        padding-left: unset;
    }
}

@media (min-width: 768px) and (max-width: 925px) {
    .astep {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.short-about {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: white;
    background-color: #2b35a0;
}

.text-head h1 {
    font-size: 54px;
    line-height: 70px;
    color: #dde0ed;
}

.stylish-text h1 span {
    color: #0a0f2c;
}

.smaller-who {
    display: none;
}

@media (max-width: 768px) {
    .short-about {
        color: #4D4D4D;
        background-color: #f4f5f8;
    }

    .stylish-text h1 {
        display: none;
    }

    .smaller-who {
        display: block !important;
    }
    .smaller-who span {
        color: #2b35a0 !important;
    }

    .text-head h1 {
        color: #212529;
    }
}

@media (max-width: 1024px) {
    .text-head h1 {
        font-size: 46px;
    }
}

@media (max-width: 500px) {
    .short-about {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.features {
    background-color: #f4f5f8;
    padding-bottom: 4.5rem !important;
}

.features .text-head h1 {
    font-size: 37px;
    color: #2b35a0;
}

.feature-tabs ul {
    border: none;
}

.feature-tabs li button {
    width: 200px !important;
    text-align: center !important;
    text-decoration: none !important;
    color: #2b35a0 !important;
    border: none !important;
    border-radius: 60px;
    transition: .4s all ease;
    margin-bottom: 6px !important;
}

.feature-tabs li button:hover, .feature-tabs li button:focus {
    border: none !important;
}

.feature-tabs ul .active {
    background-color: #a9c3ff !important;
    color: #2b35a0 !important;
    border-radius: 60px;
}

#myTab {
    margin-bottom: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
}

@media (max-width: 1035px) {
    .feature-tabs li button {
        width: 170px !important;
        /* justify-content: none; */
    }
}

@media (max-width: 910px) {
    .feature-tabs li button {
        width: 100% !important;
        /* justify-content: none; */
    }
}

@media (max-width: 760px) {
    .feature-tabs li button {
        width: 200px !important;
    }

    #myTab .nav-item {
        width: 100rem;
    }

    .tab-content {
        margin-top: 57px !important;
    }

    #myTab {
        padding-left: unset !important;
        padding-right: unset !important;
    }
}

.tab-content {
    margin-top: 40px;
    background-color: #fff;
    padding: 4rem;
}

.tab-pane {
    transition: opacity .2s linear;
}

.tab-pane h2 {
    color: #2b35a0;
    margin-bottom: 30px;
}

@media (max-width: 565px) {
    .tab-content {
        padding: 3.5rem 2rem;
    }

    .feature-tabs {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .tab-pane .reduce {
        display: none;
    }
}

.an-offer h3 {
    margin-bottom: 1rem;
}

.offers {
    padding-top: 3.5rem;
    padding-bottom: 5rem;
}

.an-offer p {
    font-size: 14.3px;
    color: #212529;
}

.an-offer {
    background-color: #f4f5f8;
    overflow: hidden;
    position: relative;
  }
  
.demo-bg {
    opacity: 0.07;
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 40%;
    height: auto;
}
  
.demo-content {
    position: relative;
}

footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #2b35a0;
    color: white;
}  

footer .logo h2 {
    color: wheat;
}

.foot ul {
    list-style-type: none;
    padding: unset;
}

.foot h4 {
    color: wheat;
}

.foot ul li a {
    text-decoration: none;
    color:white;
}

.foot {
    width: auto;
}

@media (min-width: 1000px) {
    .foot {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
}

@media (max-width: 720px) {
    .foot {
        width: auto;
    }

    /* .foot {
        text-align: center;
    } */
}

.copyright {
    background-color: #0e143b;
    color: white;
}

.copyright p {
    font-size: 14px;
}

#weOffer .text-head h1 {
    padding-top: 3rem;
    color: #212529;
    font-size: 40px;
}

#weOffer .text-head h1 span {
    color: #2b35a0;
}

.all-plans {
    margin-top: -10rem !important;
    padding-bottom: 8rem;
}

.aplan {
    padding: 3.5rem 1.5rem !important;
    background-color: #f1f1f1;
    border: 3px solid #f1f1f1;
    border-radius: 5px;
    width: 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all .4s ease;
}

.aplan .desc h2 {
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    color: #2b35a0;
}

.aplan .desc p {
    color: #606469;
}

.checklist li {
    list-style: none;
    color: #091E3F;
    align-items: center;
    margin-bottom: 6px;
}

.price-tag {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #1F2D3D;
}

.price-tag span {
    font-size: 31px;
    color: #2b35a0;
}

.highlight-plan {
    transform: scale(1.12);
    background-color: #2b35a0;
    border-color: #2b35a0;
    transition: all .4s linear;
    color: white;
}

.scale-hide {
    display: none;
}

.highlight-plan .desc p, .highlight-plan .checklist li, .highlight-plan * {
    color: white;
}

.highlight-plan svg {
    display: none;
    transition: all 0.1s ease;
}

.highlight-plan .scale-hide {
    display: block;
    transition: all 0.1s ease;
}

.highlight-plan .price-tag span, .highlight-plan .desc h2 {
    color: wheat;
}

@media (max-width: 995px) {
    .aplan {
        width: 45%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 40px;
    }

    #highPlan {
        order: 3;
        margin-top: 40px;
    }

    .highlight-plan {
        margin-bottom: 50px;
    }

    .all-plans {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .aplan {
        width: 80%;
    }

    #highPlan {
        order: unset;
    }
}

.foot ul li {
    margin-bottom: 0.5rem;
}

.foot h4 {
    margin-bottom: 1rem;
}

.purchase-btn {
    color: #fff;
    border: 3px solid #2b35a0;
    background-color: #2b35a0;
    border-radius: 50px;
    transition: all .25s ease;
}

.highlight-plan .purchase-btn {
    background-color: wheat;
    border-color: wheat;
    color: #2b35a0;
    transition: all .25s ease;
}

#contact {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.contact-us .text-head span {
    color: #2b35a0
}

.contact-form input {
    width: 45%;
    height: 47px;
    color: #0e143b;
    padding: 2px 14px;
}

@media (max-width: 768px) {
    .contact-form input {
        width: 100%;
        margin-left: unset;
        margin-right: unset;
    }
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 2px solid #2b35a0 !important;
    outline: none;
    /* background-color: #2b35a0; */
    /* color: white; */
}

/* .contact-form input:focus::placeholder {
    /* color: white;
} */

.contact-form input[type=number] {
    -moz-appearance: textfield;
}

.contact-form input::-webkit-inner-spin-button,
.contact-form input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact-form textarea {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    padding: 8px 13px;
}

.contact-form button {
    width: auto;
    border: none;
    background-color: #2b35a0;
    border: 2px solid #2b35a0;
    color: white;
    transition: all .1s linear;
}

.contact-form button:hover {
    background-color: wheat;
    color: #2b35a0;
    border-color: wheat;
    transition: all .2s ease;
}

@media (max-width: 775px) {
    .foot {
        width: auto;
    }
}

.domainer {
    width: 100%;
    position: relative;
    margin-top: 45px;
    /* padding-left: 5rem;
    padding-right: 5rem; */
}

.domainer input {
    margin: 0px;
    width: 400px;
    outline: none;
    border: none;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: white;
    color: #0e143b
    /* border-radius: 5px; */
    /* font-family: 'Ubuntu Mono', monospace; */
}

/* .domainer input:focus {
    border: 2px solid #0e143b;
} */

.domainer select {
    position: relative;
    width: 63px;
    top: 0;
    outline: none;
    /* border-radius: 5px; */
    right: 0px;
    z-index: 2;
    border: none;
    height: 40px;
    cursor: pointer;
    color: white;
    margin: unset;
    margin-left: -10px;
    background-color: #0e143b;
    transform: translateX(2px);
}

.domainer button {
    width: 120px;
    margin-left: 20px !important;
    height: 48px;
    border: unset;
    background-color: #0e143b;
    border-radius: 2px;
    transition: all .2s linear;
}

.domainer button:hover {
    background-color: #fff;
    transition: all .2s linear;
    border: 3px solid #0e143b;
}

.domainer button .switch-svg {
    display: none;
}

.domainer button:hover svg {
    display: none;
}

.domainer button:hover .switch-svg {
    display: inline;
}

@media (max-width: 768px) {
    .separate {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .domainer input {
        width: 75%;
    }

    .domainer button {
        margin-left: unset;
    }

    .domainer {
        flex-direction: column;
    }
}

.service-tabs {
    margin-bottom: -11px !important;
    padding: unset !important;
    justify-content: unset !important;
}

.service-tabtent {
    margin-top: -11px;
    border: 3px solid #2b35a0;
    background-color: #e7eaf3;
}

.service-tabs .active {
    background-color: #e7eaf3 !important;
    border: 3px solid #2b35a0 !important;
    border-radius: unset !important;
    margin-bottom: unset !important;
}

.service-tabs li {
    width: auto !important;
}

.feature-tabs li .active {
    background-color: #e7eaf3 !important;
    border-bottom-color: #e7eaf3 !important;
}

.feature-tabs li button:focus, .feature-tabs li .active:hover {
    border: 3px solid #2b35a0 !important;
    border-bottom-color: #e7eaf3 !important;
    background-color: #e7eaf3 !important;
    transition: all .3s ease, border-width .05s linear .2s;
}

@media (max-width: 760px) {
    .feature-tabs li button {
        width: fit-content !important;
    }

    .service-tabtent {
        margin-top: unset !important;
    }
}


.service-tabtent .aplan {
    width: 45%;
    margin-bottom: 40px;
    padding: unset !important;
    padding-bottom: 2.5rem !important;
    border-color: #e7eaf3;
    background-color: wheat;
}

.service-tabtent .aplan .checklist, .service-tabtent .aplan .price-tag, .service-tabtent .aplan .purchase-btn {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
} 

.service-tabtent .aplan .checklist {
    justify-content:center !important;
}

.service-tabtent .aplan .checklist div {
    width: fit-content;
    margin: 17px 0;
}

.service-tabtent .aplan .checklist li {
    padding-left: 15px;
    padding-right: 15px;
}

.service-tabtent .purchase-btn {
    margin-top: 14px;
}

.service-tabtent .aplan .price-tag {
    margin-top: 20px;
}

.service-tabtent .aplan .desc {
    padding: 22px 0;
    padding-bottom: 20px !important;
    background-color: #2b35a0;
    color: white;
}

.service-tabtent .aplan .desc h2 {
    margin-bottom: 13px;
    color: wheat;
}

.service-tabtent .aplan .desc p {
    color: white;
}

@media (max-width: 910px) {
    .service-tabtent .aplan {
        width: 90%;
    }
}

.service-tabtent .active {
    display: flex;
}

@media (max-width: 750px) {
    .service-tabtent {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

@media (max-width: 565px) {
    .service-tabtent .aplan {
        width: 100%;
        margin-left: unset;
        margin-right: unset;
        border-color: #f1f1f1;
    }

    .service-tabtent {
        border: unset;
        background-color: unset;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .feature-tabs li .active, .feature-tabs li .active:focus, .feature-tabs li .active:hover {
        border-bottom-color: #2b35a0 !important;
    }
}

@media (max-width: 435px) {
    .service-tabtent {
        padding-left: unset !important;
        padding-right: unset !important;
        margin-top: 20px;
    }
}

@media (max-width: 410px) {
    .service-tabs li button {
        width: 100px !important;
    }

    .service-tabtent {
        padding-left: unset !important;
        padding-right: unset !important;
    }
}

.accordion-item {
    margin-bottom: 17px;
}

.accordion-header button {
    background-color: #2b35a0 !important;
    color: white !important;
}

.accordion-button:focus {
    border: unset !important;
    outline: unset;
    box-shadow: unset;
}

button:focus:not(:focus-visible) {
    outline: unset;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmYiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjMuNjc3IDE4LjUyYy45MTQgMS41MjMtLjE4MyAzLjQ3Mi0xLjk2NyAzLjQ3MmgtMTkuNDE0Yy0xLjc4NCAwLTIuODgxLTEuOTQ5LTEuOTY3LTMuNDcybDkuNzA5LTE2LjE4Yy44OTEtMS40ODMgMy4wNDEtMS40OCAzLjkzIDBsOS43MDkgMTYuMTh6Ii8+PC9zdmc+");
    transform: rotate(-180deg);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmYiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjMuNjc3IDE4LjUyYy45MTQgMS41MjMtLjE4MyAzLjQ3Mi0xLjk2NyAzLjQ3MmgtMTkuNDE0Yy0xLjc4NCAwLTIuODgxLTEuOTQ5LTEuOTY3LTMuNDcybDkuNzA5LTE2LjE4Yy44OTEtMS40ODMgMy4wNDEtMS40OCAzLjkzIDBsOS43MDkgMTYuMTh6Ii8+PC9zdmc+");
}

.accordion-body {
    color: #091E3F;
    border: 2px solid #2b35a0;
    background-color: wheat;
}

.faq .text-head {
    padding-bottom: unset !important;
}

.faq .text-head h1 {
    color: #2b35a0;
    font-size: 36px;
}

.faq .text-head h1 span {
    color: #0e143b
}

.benefits .text-head h1 {
    color: #2b35a0;
    font-size: 36px;
}

.abenefit {
    padding-left: 2rem;
}

.abenefit h5 {
    text-align: center;
    margin-bottom: 1.2rem;
}

.abenefit h5 span {
    color: #2b35a0;
    font-weight: bold;
}

.benefits-list {
    padding-left: unset;
}

.benefits-list li {
    list-style: none;
}

.benefits-list li svg {
    height: fit-content;
    min-width: 23px;
    margin-right: 0.7rem;
}

@media (max-width: 576px) {
    .abenefit {
        padding-right: 2rem
    }
}